---
const { logo, title, desc, date, tags, url = null } = Astro.props;
import IconArrowRight from "../assets/icons/arrow-right.svg";
---

<a
  href={url}
  class="group flex h-full flex-col gap-2 rounded-lg bg-[#070A18] shadow-lg ring-1 ring-zinc-300/10 select-none hover:ring-2 hover:ring-zinc-300/20 active:ring-0 dark:shadow-2xl"
>
  <div class="flex h-[200px] items-center justify-center">
    <img src={logo} width={200} height={200} />
  </div>
  <div class="mx-4 mt-2 flex items-center justify-between gap-6">
    <div class="flex items-center gap-3">
      <h3
        class="text-foreground animation self-start rounded-lg text-xl opacity-90 group-hover:font-semibold group-hover:tracking-wide"
      >
        {title}
      </h3>
    </div>
    <div class="flex">
      <p class="mt-1 text-sm opacity-80">
        {date}
      </p>
      <!-- {
        url && (
          <IconArrowRight class="stroke-background animation size-6 stroke-2" />
        )
      } -->
    </div>
  </div>
  <div>
    <p class="mx-4 mb-2 rounded-lg opacity-90">
      {desc}
    </p>
    <div class="mx-3 mb-2 flex flex-wrap">
      {
        tags.map((tag: string) => (
          <p class="m-1 flex items-center rounded-2xl border-1 border-zinc-300/20 px-3 pb-0.5 text-sm uppercase opacity-90">
            {tag}
          </p>
        ))
      }
    </div>
  </div>
</a>
